node_modules
.idea
.vscode
project.private.config.json
.DS_Store
*/.DS_Store
miniprogram/**/*.js
!/miniprogram/libs/*.js
miniprogram/**/*.wxss
miniprogram/miniprogram_npm/*
yarn.lock
yarn-error.log
package-lock.json
